---
BasedOnStyle: Mozilla
Language: Cpp
UseTab: Never
BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel:         true
  AfterClass:             true
  AfterControlStatement:  true
  AfterEnum:              true
  AfterFunction:          true
  AfterNamespace:         true
  AfterObjCDeclaration:   true
  AfterStruct:            true
  AfterUnion:             true
  AfterExternBlock:       true
  BeforeCatch:            true
  BeforeElse:             true
  BeforeLambdaBody:       false
  BeforeWhile:            false
  IndentBraces:           false
  SplitEmptyFunction:     false
  SplitEmptyRecord:       false
  SplitEmptyNamespace:    false
SpaceAfterTemplateKeyword: true
SpaceBeforeInheritanceColon: true
Standard:        c++14
Cpp11BracedListStyle: true
...
